// variable file
@import '../variables.scss';

// mixin file
@import '../mixin.scss';


// home starts here
.home {
    .container {
        display: grid;
        grid-template-columns: 1fr .35fr;
        grid-gap: 3.5rem;
        padding: 3.5rem 0;
        width: 77.5%;
    }
}