html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// googel fonts
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

li {
  list-style: none;
}

// layout styles
.container {
  width: 85%;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
b,
i,
u,
label,
input,
textarea,
small,
div {
  font-family: 'Poppins', sans-serif;
}

.logo {
  font-family: 'Amatic SC', cursive;
}