$primary : #FFC222;
$primaryish : #ffcd02;
$secondary : #00A149;
$background: #db731e;
$halfbackground: #f7f2e2;
$blogbackground : #fbf7e8;
$breadcum: #f8f5f0;
$gray : gray;
$white : #E5E5E5;
$black : #1E1D23;
$border: #d1d1d1b0;